body {
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .home_details {
    color: #fff;
    font-family: inherit;
    font-size: 74px;
    padding: 162px 5px 5px 185px;
  }
  
  .font {
    color: #F9522E;
  }
  
  .btnHome {
    font-family: inherit;
    background-color: #F9522E;
    padding: 13px 44px 13px 44px;
    font-size: 18px;
    border-style: none;
  }
  
  .btnHome:hover {
    background-color: orange;
    cursor: pointer;
  }
  
  .section {
    position: relative;
    overflow: hidden;
  }
  
  video.section {
    width: 100%;
  }
  
